@mixin input() {
  color: $text-color;
  background-color: $secondary;
  border-radius: 25px;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid $border-color;
  text-indent: 10px;
  &:focus {
    outline: 0;
    border: 1px solid lighten($border-color, 15);
  }
}

input {
  @include input;
}

textarea {
  @include input;
}
